*{
    list-style-type: none;
    padding: 0;
    margin: 0;

}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 25px;
    height: 100vh;
    background-color: #68784e;
}

#searchMain{
    width: 20%;
    height: 30px;
    font-size: 20px;
    padding: 5px;
    background-color: blanchedalmond !important;
    box-sizing: border-box;
}

#searchResults {
    display: none;
    border: 1px solid #ccc;
    width: 20%;
    padding: 5px;
    background-color: blanchedalmond !important;
    box-sizing: border-box;
}
#searchResults li {
    padding: 5px;
    cursor: pointer;
}
#searchResults li:hover, #searchResults li.selectedResult {
    background-color: gray;
}